p{
  text-align: center;
  color:black;
  background-color:#D3D3D3;
  padding:10px;
  border-radius:5px;
  font-size: 13px;
}

h3{
  color:black;
  background-color:#808080;
  padding:10px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border-radius:5px;
}

.progress-bar{
  background-color: #A9A9A9;
}

.well{
  background-color:#D3D3D3;
  padding:10px;
  border-radius:10px;
}

body {
  background: #F5F5F5;
}